<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
  

    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a> |
                <a href="/aboutUs/">About Us</a> |
                <a href="/contactUs/">Contact Us</a>
            </nav>
        
        </header>
        
        {% block body %}{% endblock %}
    </body>
</html>
