<!DOCTYPE html>
<html>
    <head>
        <!-- MDB icon -->
        <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
        <!-- Font Awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        />
        <!-- Google Fonts Roboto -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
        />
        <link 
            rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
            <a href="/" class="navbar-brand my-2 mx-4"><h1>Team Stationary</h1></a>
                <div class="container d-flex justify-content-end">
                    <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/aboutUs/" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contactUs" class="nav-link">Contact Us</a>
                            </li>
                    </ul>
                </div>
            </nav>

        
        </header>
        <div class="container d-flex flex-column">
        {% block body %}{% endblock %}
        </div>



            <!-- Footer -->
            <footer class="text-center text-lg-start bg-primary">
            <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                <span class="nav-link text-light">Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div class="d-flex flex-row align-items-center navbar-dark">
                <a href="" class="me-4 text-reset ">
                    <i class="fab fa-facebook text-light "></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter text-light"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google text-light"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram text-light"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin text-light"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github text-light"></i>
                </a>
                
                </div>
                <!-- Right -->
            </section><!-- END Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 text-light">
                            <i class="fas fa-gem me-3 text-light"></i>Team Stationary
                        </h6>
                        <p class="text-light">This is just the footer. Nothing special.</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 navbar-dark">
                        <h6 class="text-uppercase fw-bold mb-4 text-light ">The Team</h6>
                            <p  class="navbar-nav">
                                <a href="#!" class="nav-link">Kevin</a>
                            </p>
                            <p class="navbar-nav">
                                <a href="#!" class="nav-link">Jere</a>
                            </p>
                            <p class="navbar-nav">
                                <a href="#!" class="nav-link">Eric</a>
                            </p>
                            <p class="navbar-nav">
                                <a href="#!" class="nav-link">Nayyer</a>
                            </p>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 navbar-dark">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-light">
                         Useful links
                    </h6>
                    <p class="navbar-nav">
                        <a href="#!" class="nav-link">Pricing</a>
                    </p>
                    <p class="navbar-nav">
                        <a href="#!" class="nav-link">Settings</a>
                    </p>
                    <p class="navbar-nav">
                        <a href="#!" class="nav-link">Orders</a>
                    </p>
                    <p class="navbar-nav">
                        <a href="#!" class="nav-link">Help</a>
                    </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-light">
                        Contact
                    </h6>
                    <p class="text-light"><i class="fas fa-home me-3 text-light"></i>Rautatieläisenkatu 5, 00520 Helsinki, Finland</p>

                    <p class="text-light">
                        <i class="fas fa-envelope me-3 text-light"></i>cs@teamStationary.com
                    </p>
                    <p class="text-light"><i class="fas fa-phone me-3 text-light"></i> + 01 234 567 88</p>
                    <p class="text-light"><i class="fas fa-print me-3 text-light"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="#">TeamStationary.com</a>
            </div> <!-- End Copyright -->

            </footer><!-- End Footer -->

        
    </body>
</html>
